// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@font-face {
  font-family: 'fatboy';
  src: url('/fonts/fbsbltc-webfont.woff2') format('woff2'),
  url('/fonts/fbsbltc-webfont.woff') format('woff');
}

.fatboy {
  font-family: 'fatboy', sans-serif;
}

.image {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  &.connect {
    background-image: url(/img/connect.png);
  }
  &.tweet {
    background-image: url(/img/tweet.png);
  }
  &.play {
    background-image: url(/img/play.jpg);

  }
  &.push {
    background-image: url(/img/button.jpg);
  }
}

@media (max-device-width: $screen-xs-max) {
  .android {
    height: 100px;
  }
  .image {
    height: 392px;
    &.play, &.push {
      border-radius: 150px;
      height: 218px;
      margin-top: 2em;
    }
  }
  .part {
    padding: 3.5em 0 !important;
  }
  .companion {
    margin-top: 11px;
  }
  .poster {
    .image {
      background-image: url(/img/naald.png);
      height: 100vh;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50%;
    }
  }
  .mobile-only {
    display: block !important;
  }
  .desktop-only {
    display: none !important;
  }
  .hero-unit {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
    width: 80%;
    h1 {
      margin-top: 4em
    }
    p {
      margin-bottom: 50%;
    }
  }
  .fa-angle-down {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    z-index: 999;
  }
}

@media (min-width: $screen-lg-min) {
  .mobile-only {
    display: none !important;
  }

    .third {
      position: absolute;
      bottom: 0;
      margin-left: -33px;
      left: 50%;
      z-index: 999;
    }

  .image {
    width: 38%;
    height: 500px;
    display: inline-block;
    margin-top: 2em;
    &.play, &.push {
      width: 100%;

      border-radius: 19px;
    }
  }
  .desktop-only {
    display: block !important;
  }
  .logo, .android {
    height: 200px;
  }
  .hero-unit {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
    width: 40%;
    padding-top: 14%;
    h1 {
      font-size: 3em;
    }
    .fa-angle-down {
      width: 100%;
      text-align: center;
    }
    p {
      margin-bottom: 17em;
    }
  }
  .homepage-hero-module .video-container video {
    width: 100%;
  }
}

body {
  min-height: 100vh;
  color: #fff;
  font-family: 'Nunito', sans-serif;
  background: url('../img/wood-bg.jpg');
  background-attachment: fixed;
  background-size: cover;
}

.fa-angle-down {
  font-size: 100px !important;
  color: white;
  text-align: center;
}

.video-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(255, 123, 0, 0.2);
}

p {
  font-size: 16px;
}

.homepage-hero-module {
  height: 100vh;
  position: relative;
  .video-container {
    height: 100%;
    overflow: hidden;
  }
}

.container {
  width: 100%;
  height: 100vh;
  padding: 0;
  .section {
    margin: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    .row {
      &.part {
        &:last-child {
          border: none;
        }
        padding: 41px 0;
        border-bottom: 1px solid #808080;

        .logo {
          background-image: url(/img/logo.svg);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: 50%;
        }
        .android {
          background-image: url(/img/android.svg);
          background-repeat: no-repeat;
          background-position: 50%;
          background-size: contain;
        }
        .contact {
          padding-top: 22px;
          .fa {
            color: white;
            font-size: 45px;
            &.fa-facebook {
              color: #3b5998;
            }
          }
        }
      }
    }
  }
}

h1, h2, h3 {
  font-weight: 900;
}
